.share{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(240,240,240);
}

.share:hover{
  transition: cubic-bezier(.07,1.41,.82,1.41)0.2s;
  transform: scale(1.3);
}

.share svg{
  margin-top: 10px;
  margin-left: 12px;
}

header{
  width: 95%;
  max-width: 788px;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  padding-top: 20px;
}

a{
  text-decoration: none;
}

img{
   width: 200px;
  height: 200px;
  padding-left: 15px;
  border-radius: 50%;
}

body{
    background-color: #363535;
}
.container{
  margin: 0;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

h1,h2,p{
  color: #dad7d7;
  display: flex;
  justify-content: center;
}

.card{
  display: flex;
  justify-content:center;
}

.cardheader{
  height: 350px;
  width: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  width: auto;
  padding: 3rem;
  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.2s;
}

.cardheader:hover{
  transform: translateY(-1rem);
}

.cardheader:hover~.cardheader{
  transform: translateX(130px);
}

.cardheader:not(:first-child){
  margin-left: -130px;
}

.icon{
  margin: 4px 8px;
  height: 44px;
  width: 44px;
}
